<footer class="page-footer" id="footer">
    <div class="container">
        <div class="page-footer__top-row">
            <a href="/" class="page-footer__logo">
                <img src="img/safe-deal-logo.svg" alt="" class="page-footer__logo-image">
            </a>
            <ul class="page-footer__companies-list">
                <li class="page-footer__companies-list-item">
                    <div class="page-footer__companies-card">
                        <h4 class="page-footer__companies-card-title">
                            Сервис разработан компанией
                        </h4>
                        <img src="img/footer-ipotex.svg" alt="" class="page-footer__companies-card-image">
                    </div>
                </li>
                <li class="page-footer__companies-list-item">
                    <div class="page-footer__companies-card">
                        <h4 class="page-footer__companies-card-title">
                            Резидент ОЭЗ Иннополис
                        </h4>
                        <img src="img/footer-innopolis.png" alt="" class="page-footer__companies-card-image">
                    </div>
                </li>
            </ul>
        </div>
        <div class="page-footer__middle-row">
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Как это работает?
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Для кого?
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Партнеры
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Банки-партнеры
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О команде
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Безопасность
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__contacts">
                <div class="page-footer__contacts-card page-footer__contacts-card--support">
                    <h4 class="page-footer__contacts-card-title">
                        Техподдержка
                    </h4>
                    <div class="page-footer__contacts-card-links">
                        <a href="mailto:s.ipoteka@ipoteh.ru"
                            class="page-footer__contacts-card-link page-footer__contacts-card-link--underlined">
                            <span class="page-footer__contacts-card-link-text">
                                s.ipoteka@ipoteh.ru
                            </span>

                        </a>
                        <a href="tel:88435983377" class="page-footer__contacts-card-link">
                            <span class="page-footer__contacts-card-link-text">
                                8 (843) 598 33 77
                            </span>

                        </a>
                    </div>
                </div>
                <div class="page-footer__contacts-card page-footer__contacts-card--address">
                    <h4 class="page-footer__contacts-card-title">
                        Адрес
                    </h4>
                    <div class="page-footer__contacts-card-address">
                        г. Иннополис, ул.<br> Университетская,<br>д. 7, помещение № 68, 420500

                    </div>
                </div>
                <div class="page-footer__our-products">
                    <h4 class="page-footer__our-products-title">
                        Наши продукты
                    </h4>
                    <a href="#" class="page-footer__our-products-link" target="_blank">
                        <img src="img/footer-logo.svg" alt="" class="page-footer__our-products-link-image">
                    </a>
                </div>

                <div class="page-footer__contacts-card page-footer__contacts-card--partnership">
                    <h4 class="page-footer__contacts-card-title">
                        Партнерство
                    </h4>
                    <div class="page-footer__contacts-card-links">
                        <a href="mailto:ipoteka@ipoteh.ru"
                            class="page-footer__contacts-card-link page-footer__contacts-card-link--underlined">
                            <span class="page-footer__contacts-card-link-text">
                                ipoteka@ipoteh.ru
                            </span>

                        </a>
                    </div>
                </div>
                <div class="page-footer__contacts-card page-footer__contacts-card--telegram">
                    <h4 class="page-footer__contacts-card-title">
                        Следите за обновлениями
                    </h4>
                    <div class="page-footer__contacts-card-links">
                        <a href="#" class="page-footer__contacts-card-link" target="_blank">
                            <img src="img/telegram.svg" alt="" class="page-footer__contacts-card-link-icon">
                            <span class="page-footer__contacts-card-link-text">
                                @ipoteh
                            </span>

                        </a>
                    </div>
                </div>
                <div class="page-footer__contacts-card page-footer__contacts-card--hh">
                    <h4 class="page-footer__contacts-card-title">
                        Наши вакансии тут
                    </h4>
                    <div class="page-footer__contacts-card-links">
                        <a href="#"
                            class="page-footer__contacts-card-link page-footer__contacts-card-link--small page-footer__contacts-card-link--underlined"
                            target="_blank">
                            <img src="img/hh.svg" alt="" class="page-footer__contacts-card-link-icon">
                            <span class="page-footer__contacts-card-link-text">
                                Перейти на hh.ru
                            </span>

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                Все права защищены<br>
                «ОНЛАЙНСДЕЛКА» 2022
            </div>
            <a href="#" class="page-footer__policy" target="_blank">
                <span class="page-footer__policy-text">
                    Политика обработки персональных данных
                </span>
            </a>
            <div class="page-footer__offer">
                Сайт не является публичной офертой, определяемой положениями статьи 437 ГК РФ
            </div>
        </div>
    </div>
</footer>