<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="/" class="page-header__logo">
                <img src="img/header-logo.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#service" class="page-header__nav-link">
                                Как это работает
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#focus" class="page-header__nav-link">
                                Для кого
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#monitoring" class="page-header__nav-link">
                                Партнеры
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#clients" class="page-header__nav-link">
                                Банки-партнеры
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#about" class="page-header__nav-link">
                                О команде
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#protect" class="page-header__nav-link">
                                Безопасность
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#footer" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__buttons">
                    <a href="#" class="page-header__button">
                        Войти
                    </a>
                    <a href="#callback-modal" class="page-header__button page-header__button--violet">
                        Хочу демо-доступ
                    </a>
                </div>
            </div>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>