{{#extend "layout-2"}}
    {{#content "main"}}


        <section class="advantages">
            <div class="container">

                <div class="advantages__top-row">
                    <h2 class="advantages__heading">
                        Ускоренная регистрация сделок с недвижимостью в Росреестре
                    </h2>
                    <div class="advantages__text">
                        Совершайте любые виды регистрационных действий с недвижимостью из любой точки мира в
                        ускоренном режиме.
                    </div>
                </div>
                <div class="advantages__card">
                    <div class="advantages__card-top-row">
                        <div class="advantages__card-label">
                            работа с нами
                        </div>
                        <div class="advantages__card-dots">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="advantages__card-sliders js-advantages-sliders">
                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--small">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card">
                                            оформление за 20 минут
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--small">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card advantages__card-slider-card--violet">
                                            без МФЦ и курьеров
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card advantages__card-slider-card--pink">
                                            из любой точки мира
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--small">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--long">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card advantages__card-slider-card--pink">
                                            из любой точки мира
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--small">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--small">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card advantages__card-slider-card--blue">
                                            ускоренная регистрация
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--long">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card advantages__card-slider-card--blue">
                                            ускоренная регистрация
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--small">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--long">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--supersmall">

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="advantages__card-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--small">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card advantages__card-slider-card--black">
                                            поддержка 24/7
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--medium">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--long">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantages__card-slider-card advantages__card-slider-card--black">
                                            поддержка 24/7
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="advantages__card-slider-card advantages__card-slider-card--empty advantages__card-slider-card--superlong">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="service service--no-background js-service js-service-with-arrows" id="service">
            <div class="container">
                <div class="service__top-row">
                    <h2 class="service__heading">
                        Зарабатывайте больше и быстрее развивайте бизнес
                    </h2>
                    <div class="service__text">
                        Мы берем на себя развитие сервиса исходя из ваших потребностей и законодательных обновлений.
                    </div>
                </div>

                <div class="service__arrows">
                    <button class="service__arrow service__arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="service__arrow service__arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="service__slider">
                    <div class="service__slider-wrapper">


                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="service__slider-card">
                                        <div class="service__slider-card-image-wrapper">
                                            <img src="img/service/1.png" alt="" class="service__slider-card-image">
                                            <div class="service__slider-card-label">
                                                <span>
                                                    Зарабатывайте<br>на регистрации
                                                </span>

                                            </div>
                                        </div>
                                        <ul class="service__slider-card-list">
                                            <li class="service__slider-card-list-item">
                                                Устанавливайте свой ценник для клиентов и получайте дополнительную
                                                прибыль
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Оплачивайте по факту совершения сделки
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Без ежемесячной подписки и без абонентской платы
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Бесплатное подключение
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="service__slider-card">
                                        <div class="service__slider-card-image-wrapper">
                                            <img src="img/service/2.png" alt="" class="service__slider-card-image">
                                            <div class="service__slider-card-label">
                                                <span>
                                                    Проводите полностью<br> удаленные сделки
                                                </span>
                                            </div>
                                        </div>
                                        <ul class="service__slider-card-list">
                                            <li class="service__slider-card-list-item">
                                                Не тратьте время на МФЦ, курьеров и очный выпуск ЭЦП.
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Назначайте сделки в любом месте и в любое время.
                                            <li class="service__slider-card-list-item">
                                                Получайте банковские уведомления в удобное для вас время - мы выпускаем
                                                их самостоятельно.
                                            </li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="service__slider-card">
                                        <div class="service__slider-card-image-wrapper">
                                            <img src="img/service/3.png" alt="" class="service__slider-card-image">
                                            <div class="service__slider-card-label">
                                                <span>
                                                    Работайте<br>с удобством
                                                </span>
                                            </div>
                                        </div>
                                        <ul class="service__slider-card-list">
                                            <li class="service__slider-card-list-item">
                                                Удобный конструктор сделки поможет избежать ошибок и приобщений.
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Выбирайте любой из 3 удостоверяющих центров.
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Оплачивайте госпошлину онлайн.
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Автоматическое раскрытие аккредитива
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Круглосуточная техподдержка.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="service__slider-card">
                                        <div class="service__slider-card-image-wrapper">
                                            <img src="img/service/4.png" alt="" class="service__slider-card-image">
                                            <div class="service__slider-card-label">
                                                <span>
                                                    Контролируйте<br> весь процесс
                                                </span>
                                            </div>
                                        </div>
                                        <ul class="service__slider-card-list">
                                            <li class="service__slider-card-list-item">
                                                Управляйте филиальной сетью аккаунтов.
                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Контролируйте статус заявок в личном кабинете.

                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Интегрируйте решение с вашей CRM-системой

                                            </li>
                                            <li class="service__slider-card-list-item">
                                                Храните историю и документы в личном кабинете
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="operations">
            <div class="container">
                <div class="operations__content">
                    <div class="operations__text-content">
                        <h2 class="operations__heading">
                            Никаких ограничений по операциям
                        </h2>
                        <div class="operations__label">
                            <img src="img/protect-icon-white.svg" alt="" class="operations__label-icon">
                            <div class="operations__label-text">
                                свобода действий
                            </div>
                        </div>
                        <div class="operations__remark">
                            проверено на 15 000 транзакциях
                        </div>
                    </div>
                    <ul class="operations__list">
                        <li class="operations__list-item">
                            <div class="operations__card">
                                <h3 class="operations__card-title">
                                    Участники сделки
                                </h3>
                                <div class="operations__card-text">
                                    Сделки с физическими и юридическими лицами, а также между ними
                                </div>
                                <img src="img/operations/1.svg" alt="" class="operations__card-icon">
                            </div>
                        </li>
                        <li class="operations__list-item">
                            <div class="operations__card">
                                <h3 class="operations__card-title">
                                    Объекты недвижимости
                                </h3>
                                <div class="operations__card-text">
                                    Сделки с любыми объектами недвижимости: земля, дом, коммерческая недвижимость,
                                    здание, машиноместо, гараж и др.
                                </div>
                                <img src="img/operations/2.svg" alt="" class="operations__card-icon">
                            </div>
                        </li>
                        <li class="operations__list-item">
                            <div class="operations__card">
                                <h3 class="operations__card-title">
                                    Типы платежей
                                </h3>
                                <div class="operations__card-text">
                                    Сделки по ипотеке, со 100% оплатой, рассрочкой или залогом
                                </div>
                                <img src="img/operations/3.svg" alt="" class="operations__card-icon">
                            </div>
                        </li>
                        <li class="operations__list-item">
                            <div class="operations__card">
                                <h3 class="operations__card-title">
                                    Формы собственности
                                </h3>
                                <div class="operations__card-text">
                                    Сделки с различными формами собственности: общая совместная, общая долевая,
                                    смешанная
                                </div>
                                <img src="img/operations/4.svg" alt="" class="operations__card-icon">
                            </div>
                        </li>
                        <li class="operations__list-item">
                            <div class="operations__card">
                                <h3 class="operations__card-title">
                                    Юридические аспекты
                                </h3>
                                <div class="operations__card-text">
                                    Нотариальные сделки, по доверенности и с несовершеннолетними
                                </div>
                                <img src="img/operations/5.svg" alt="" class="operations__card-icon">
                            </div>
                        </li>
                        <li class="operations__list-item operations__list-item--fullwidth">
                            <div class="operations__card operations__card--large">
                                <h3 class="operations__card-title">
                                    Виды операций
                                </h3>
                                <div class="operations__card-text">
                                    Проводите регистрационные действия ГКУ (государственный кадастровый учет)
                                </div>
                                <ul class="operations__card-list">
                                    <li class="operations__card-list-item">
                                        Снятие с кадастрового учета здания или сооружения с зарегистрированными правами
                                        и без
                                    </li>
                                    <li class="operations__card-list-item">
                                        Учет изменений на здание или сооружение
                                    </li>
                                    <li class="operations__card-list-item">
                                        Учет изменений земельного участка
                                    </li>
                                    <li class="operations__card-list-item">
                                        Постановка на учет земельного участка с помощью межевого плана
                                    </li>
                                </ul>
                                <img src="img/operations/1.svg" alt="" class="operations__card-icon">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="focus" id="focus">
            <div class="container">
                <h2 class="focus__heading">
                    Аудитории
                </h2>
                <ul class="focus__list">
                    <li class="focus__list-item">
                        <div class="focus__card">
                            <div class="focus__card-top-row">
                                <img src="img/focus/3.svg" alt="" class="focus__card-icon">
                                <h3 class="focus__card-title">
                                    Отделам продаж
                                </h3>
                            </div>
                            <div class="focus__card-content">

                                <div class="focus__card-content-text">
                                    Получайте деньги быстрее, повышайте конверсию в сделку и улучшайте клиентский опыт
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="focus__list-item">
                        <div class="focus__card">
                            <div class="focus__card-top-row">
                                <img src="img/focus/4.svg" alt="" class="focus__card-icon">
                                <h3 class="focus__card-title">
                                    Юристам
                                </h3>
                            </div>
                            <div class="focus__card-content">

                                <div class="focus__card-content-text">
                                    Защита от ошибок — наши специалисты проводят экспертизу документов, подготовленных к
                                    отправке, и общаются с регистраторами в случае затруднений
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="focus__list-item">
                        <div class="focus__card">
                            <div class="focus__card-top-row">
                                <img src="img/focus/5.svg" alt="" class="focus__card-icon">
                                <h3 class="focus__card-title">
                                    Руководителям
                                </h3>
                            </div>
                            <div class="focus__card-content">

                                <div class="focus__card-content-text">
                                    Снижайте расходы на регистрацию, увеличивайте прибыль и контролируйте процессы
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="focus__list-item">
                        <div class="focus__card">
                            <div class="focus__card-top-row">
                                <img src="img/focus/6.svg" alt="" class="focus__card-icon">
                                <h3 class="focus__card-title">
                                    IT-отделам
                                </h3>
                            </div>
                            <div class="focus__card-content">
                                <div class="focus__card-content-text">
                                    Усильте собственную IT-инфраструктуру с помощью проверенного решения, интегрируйтесь
                                    через API и оптимизируйте внутренние процессы
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="subscribe">
            <div class="container">
                <div class="subscribe__content">
                    <div class="subscribe__text-content">
                        <h2 class="subscribe__heading">
                            Не ждите, что ситуация на рынке станет лучше, зарабатывайте уже сегодня
                        </h2>
                        <div class="subscribe__text">
                            Оставьте контакты и получите<br> выгодное решение
                        </div>
                    </div>
                    <form action="/" method="POST" class="subscribe__form" data-need-validation="">
                        <div class="subscribe__form-fields">
                            <div class="subscribe__form-field">
                                <input type="text" name="name" class="subscribe__form-input" placeholder="Имя"
                                    required="">
                            </div>
                            <div class="subscribe__form-field">
                                <input type="tel" name="phone" class="subscribe__form-input js-phone-input"
                                    placeholder="8 (987) 650-43-21" required="" data-parsley-phone="">
                            </div>
                        </div>
                        <div class="subscribe__form-controls">
                            <div class="subscribe__form-policy">
                                Нажимая на кнопку, я соглашаюсь с <a href="#">политикой&nbsp;конфиденциальности</a>
                            </div>
                            <button class="subscribe__form-submit" type="submit">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="steps">
            <div class="container">
                <div class="steps__top-row">
                    <h2 class="steps__heading">
                        Проработали каждый этап регистрации, чтобы вам было удобнее
                    </h2>
                    <div class="steps__label">
                        <img src="img/protect-icon.svg" alt="" class="steps__label-icon">
                        <div class="steps__label-text">
                            с нами безопасно
                        </div>

                    </div>
                </div>
                <ol class="steps__list">
                    <li class="steps__list-item">
                        <div class="steps__card">
                            <div class="steps__card-left-col">
                                <div class="steps__card-number">

                                </div>
                                <h3 class="steps__card-title">
                                    Создание сделки
                                </h3>
                            </div>
                            <div class="steps__card-right-col">
                                <div class="steps__card-text">
                                    <p>
                                        С заведением сделки справится любой сотрудник, достаточно первичного обучения.
                                    </p>
                                    <p>
                                        Интуитивный интерфейс с подсказками поможет оформить заявление, а сам сервис
                                        проверит заявление перед отправкой на наличие ошибок или пропусков.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="steps__list-item">
                        <div class="steps__card">
                            <div class="steps__card-left-col">
                                <div class="steps__card-number">

                                </div>
                                <h3 class="steps__card-title">
                                    Выпуск КЭП
                                </h3>
                            </div>
                            <div class="steps__card-right-col">
                                <div class="steps__card-text">
                                    <p>
                                        Выпускайте электронные подписи в офисе или дистанционно. Мы подобрали для вас 3
                                        надежных решения:
                                    </p>

                                </div>
                                <ul class="steps__card-solutions-list">
                                    <li class="steps__card-solutions-list-item">
                                        <img src="img/id-point.svg" alt="" class="steps__card-solution-image">
                                        <h4 class="steps__card-solution-title">
                                            IDPoint
                                        </h4>
                                    </li>
                                    <li class="steps__card-solutions-list-item">
                                        <img src="img/sign-me.jpg" alt="" class="steps__card-solution-image">
                                        <h4 class="steps__card-solution-title">
                                            Sign.Me
                                        </h4>
                                    </li>
                                    <li class="steps__card-solutions-list-item">
                                        <img src="img/mydss.png" alt="" class="steps__card-solution-image">
                                        <h4 class="steps__card-solution-title">
                                            myDSS 2.0
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="steps__list-item">
                        <div class="steps__card">
                            <div class="steps__card-left-col">
                                <div class="steps__card-number">

                                </div>
                                <h3 class="steps__card-title">
                                    Подгрузка документов
                                </h3>
                            </div>
                            <div class="steps__card-right-col">
                                <div class="steps__card-text">
                                    <p>
                                        Собрали для вас Справочник по позициям, чтобы система ФГИС правильно отображала
                                        код и специфику заявки, а регистратор быстрее обрабатывал вашу заявку.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="steps__list-item">
                        <div class="steps__card">
                            <div class="steps__card-left-col">
                                <div class="steps__card-number">

                                </div>
                                <h3 class="steps__card-title">
                                    Оплата госпошлины
                                </h3>
                            </div>
                            <div class="steps__card-right-col">
                                <div class="steps__card-text">
                                    <p>
                                        Оплачивайте госпошлину по уникальному идентификатору начисления (УИН) или
                                        квитанция с QR кодом через госуслуги, либо через любой онлайн-банк. Вы также
                                        можете вложить оплаченную заранее квитанцию в заявку.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="steps__list-item">
                        <div class="steps__card">
                            <div class="steps__card-left-col">
                                <div class="steps__card-number">

                                </div>
                                <h3 class="steps__card-title">
                                    Отправка документов
                                </h3>
                            </div>
                            <div class="steps__card-right-col">
                                <div class="steps__card-text">
                                    <p>
                                        Отравляем пакет документов через защищённый канал связи с Росреестром. Вы можете
                                        не бояться за личные данные клиентов — наши технологии защищают вашу
                                        конфиденциальность.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <section class="tariffs">
            <div class="container">
                <h2 class="tariffs__heading">
                    Гибкие тарифы
                </h2>
                <div class="tariffs__slider js-tariffs-slider">
                    <div class="swiper">
                        <ul class="swiper-wrapper tariffs__list">
                            <li class="swiper-slide tariffs__list-item">
                                <div class="tariffs__card">
                                    <div class="tariffs__card-top">
                                        <h3 class="tariffs__card-title">
                                            Базовый
                                        </h3>
                                    </div>
                                    <div class="tariffs__card-content">
                                        <div class="tariffs__card-text">
                                            Пакет подходит для средних чего-нибудь и будет класнным прям несколько
                                            хорошеньких
                                            строк нужно заложить
                                        </div>
                                        <ul class="tariffs__card-features-list">
                                            <li class="tariffs__card-features-list-item">
                                                Направление пакета документов по основным регистрационным действиям
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Регистрация любых объектов недвижимости и любых видов прав собственности
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Взаимодействие по сделке с банками, застройщиками, агентствами
                                                недвижимости,
                                                риелторами) в личном кабинете сервиса
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Выбор удостоверяющего центра
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Возможность выпуска электронной подписи, в т.ч. полностью дистанционный
                                                выпуск
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Техническая поддержка <b>в рабочее время</b>
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Обучение работе в системе
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Проверка объектов недвижимости
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Создание филиальных инстансов
                                            </li>
                                        </ul>
                                        <a href="#callback-modal" class="tariffs__card-link">
                                            Мне подходит
                                        </a>
                                        <div class="tariffs__card-price">
                                            <div class="tariffs__card-price-amount">
                                                900
                                            </div>
                                            <div class="ariffs__card-price-unit">
                                                ₽/отправка пакета
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide tariffs__list-item">
                                <img src="img/flame.svg" alt="" class="tariffs__card-icon">
                                <div class="tariffs__card">

                                    <div class="tariffs__card-top">
                                        <h3 class="tariffs__card-title">
                                            Премиум
                                        </h3>
                                    </div>
                                    <div class="tariffs__card-content">
                                        <div class="tariffs__card-text">
                                            Пакет подходит для средних чего-нибудь и будет классным прям несколько
                                            хорошеньких
                                            строк нужно заложить
                                        </div>
                                        <ul class="tariffs__card-features-list">
                                            <li class="tariffs__card-features-list-item">
                                                Направление пакета документов по основным регистрационным действиям
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Взаимодействие с участниками сделки в личном кабинете сервиса
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Выбор удостоверяющего центра
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Возможность выпуска электронной подписи, в т.ч. полностью дистанционный
                                                выпуск
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Техническая поддержка <b>24\7</b>
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Обучение работе в системе
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Проверка объектов недвижимости
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Юридическое сопровождение и экспертиза документов при формировании
                                                пакетов
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Помощь с заявками при отказах или приостановлении в Росреестре
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Оплата государственных пошлин
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Создание филиальных инстансов
                                            </li>
                                        </ul>
                                        <a href="#callback-modal" class="tariffs__card-link">
                                            Мне подходит
                                        </a>
                                        <div class="tariffs__card-price">
                                            <div class="tariffs__card-price-amount">
                                                1500
                                            </div>
                                            <div class="ariffs__card-price-unit">
                                                ₽/отправка пакета
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide tariffs__list-item">
                                <div class="tariffs__card">
                                    <div class="tariffs__card-top">
                                        <h3 class="tariffs__card-title">
                                            Партнер
                                        </h3>
                                    </div>
                                    <div class="tariffs__card-content">
                                        <div class="tariffs__card-text">
                                            Абонентская плата - 60 000 ₽ в месяц
                                        </div>
                                        <ul class="tariffs__card-features-list">
                                            <li class="tariffs__card-features-list-item">
                                                Направление пакета документов по основным регистрационным действиям
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Регистрация любых объектов недвижимости и любых видов прав собственности
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Взаимодействие по сделке с банками, застройщиками, агентствами
                                                недвижимости,
                                                риелторами) в личном кабинете сервиса
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Выбор удостоверяющего центра
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Возможность выпуска электронной подписи, в т.ч. полностью дистанционный
                                                выпуск
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Техническая поддержка в рабочее время
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Обучение работе в системе
                                            </li>
                                            <li class="tariffs__card-features-list-item">
                                                Проверка объектов недвижимости
                                            </li>

                                        </ul>
                                        <a href="#callback-modal" class="tariffs__card-link">
                                            Мне подходит
                                        </a>
                                        <div class="tariffs__card-price">
                                            <div class="tariffs__card-price-amount">
                                                600
                                            </div>
                                            <div class="ariffs__card-price-unit">
                                                ₽/ 100 пакетов в месяц
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews js-reviews-slider">
            <div class="container">
                <div class="reviews__top-row">
                    <h2 class="reviews__heading">
                        Работа с нами глазами клиентов
                    </h2>
                    <div class="reviews__arrows">
                        <button class="reviews__arrow reviews__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="reviews__arrow reviews__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="reviews__slider ">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="reviews__slider-card">
                                    <img src="img/suvar.png" alt="" class="reviews__slider-card-logo">
                                    <h3 class="reviews__slider-card-title">
                                        Электронная регистрация значительно упрощает для клиентов процесс сделки по
                                        покупке квартиры на первичном рынке.
                                    </h3>
                                    <div class="reviews__slider-card-text">
                                        Вместо четырёх этапов клиент проходит через два: выбирает квартируу застройщика
                                        и подписывает договор участия в долевом строительстве, а затем в банке
                                        подписывает все документы и отправляет в Росреестр на регистрацию
                                    </div>
                                    <div class="reviews__slider-card-author">
                                        <div class="reviews__slider-card-author-photo-container">
                                            <img src="img/photo.jpg" alt="" class="reviews__slider-card-author-photo">
                                        </div>
                                        <div class="reviews__slider-card-author-info">
                                            <div class="reviews__slider-card-author-name">
                                                Андрей Морозов
                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                экс-руководитель управления развития кредитных продуктов
                                                «Райффайзенбанка»
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="reviews__slider-card">
                                    <img src="img/unistroy.png" alt="" class="reviews__slider-card-logo">
                                    <h3 class="reviews__slider-card-title">
                                        Электронная регистрация значительно упрощает для клиентов процесс сделки по
                                        покупке квартиры на первичном рынке.
                                    </h3>
                                    <div class="reviews__slider-card-text">
                                        Вместо четырёх этапов клиент проходит через два: выбирает квартируу застройщика
                                        и подписывает договор участия в долевом строительстве, а затем в банке
                                        подписывает все документы и отправляет в Росреестр на регистрацию
                                    </div>
                                    <div class="reviews__slider-card-author">
                                        <div class="reviews__slider-card-author-photo-container">
                                            <img src="img/photo.jpg" alt="" class="reviews__slider-card-author-photo">
                                        </div>
                                        <div class="reviews__slider-card-author-info">
                                            <div class="reviews__slider-card-author-name">
                                                Андрей Морозов
                                            </div>
                                            <div class="reviews__slider-card-author-role">
                                                экс-руководитель управления развития кредитных продуктов
                                                «Райффайзенбанка»
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about" id="about">
            <div class="container">
                <div class="about__content">
                    <div class="about__text-content">
                        <img src="img/about-logo.svg" alt="" class="about__logo-image">
                        <div class="about__text">
                            proptech-компания. Мы разрабатываем сервисы для рынка недвижимости.
                        </div>
                    </div>
                    <div class="about__team">
                        <ul class="about__team-list">
                            <li class="about__team-list-item">
                                <div class="about__team-card">
                                    <div class="about__team-card-image-container">
                                        <img src="img/team/1.jpg" alt="" class="about__team-card-image">
                                    </div>
                                    <div class="about__team-card-role">
                                        Founder-CEO
                                    </div>
                                    <h3 class="about__team-card-title">
                                        Тимур Мусаев
                                    </h3>
                                    <div class="about__team-card-label">
                                        18 лет в недвижимости
                                    </div>
                                    <div class="about__team-card-text">
                                        Многолетний опыт в недвижимости и знание рынка
                                    </div>
                                    <a href="#" class="about__team-card-link">
                                        Читать полностью
                                    </a>
                                    <div class="about__team-card-hidden-content">
                                        <div class="about__team-card-hidden-content-inner">


                                            <div class="about__team-card-hidden-text">
                                                <p>
                                                    Знание рынкаи многолетний опыт в&nbsp;бизнесе:
                                                </p>
                                                <p>
                                                    10-летний опыт работы в&nbsp;качестве Заместителя Директора
                                                    строительной
                                                    компании
                                                </p>
                                                <p>
                                                    Один из проектировщиков Социальной ипотеки в&nbsp;Госжилфонде РТ
                                                </p>
                                                <p>
                                                    с&nbsp;2017 года занимается цифровизацией и&nbsp;собственными
                                                    разработками
                                                    для рынка
                                                    недвижимости
                                                </p>
                                            </div>
                                            <a href="#" class="about__team-card-hidden-close">
                                                Скрыть
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="about__team-list-item">
                                <div class="about__team-card">
                                    <div class="about__team-card-image-container">
                                        <img src="img/team/2.jpg" alt="" class="about__team-card-image">
                                    </div>
                                    <div class="about__team-card-role">
                                        СОО
                                    </div>
                                    <h3 class="about__team-card-title">
                                        Раиля Курмашева
                                    </h3>
                                    <div class="about__team-card-label">
                                        10 лет на ипотечном рынке
                                    </div>
                                    <div class="about__team-card-text">
                                        Знание ипотечного рынка с двух сторон - застройщика и банка
                                    </div>
                                    <a href="#" class="about__team-card-link">
                                        Читать полностью
                                    </a>
                                    <div class="about__team-card-hidden-content">
                                        <div class="about__team-card-hidden-content-inner">


                                            <div class="about__team-card-hidden-text">
                                                <p>
                                                    Знание рынкаи многолетний опыт в&nbsp;бизнесе:
                                                </p>
                                                <p>
                                                    10-летний опыт работы в&nbsp;качестве Заместителя Директора
                                                    строительной
                                                    компании
                                                </p>
                                                <p>
                                                    Один из проектировщиков Социальной ипотеки в&nbsp;Госжилфонде РТ
                                                </p>
                                                <p>
                                                    с&nbsp;2017 года занимается цифровизацией и&nbsp;собственными
                                                    разработками
                                                    для рынка
                                                    недвижимости
                                                </p>
                                            </div>
                                            <a href="#" class="about__team-card-hidden-close">
                                                Скрыть
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="about__team-list-item">
                                <div class="about__team-card">
                                    <div class="about__team-card-image-container">
                                        <img src="img/team/2.jpg" alt="" class="about__team-card-image">
                                    </div>
                                    <div class="about__team-card-role">
                                        Product manager
                                    </div>
                                    <h3 class="about__team-card-title">
                                        Лиля Бадретдинова
                                    </h3>
                                    <div class="about__team-card-label">
                                        5 на рынке ЭР
                                    </div>
                                    <div class="about__team-card-text">
                                        Эксперт по электронной регистраци - знает все юридические нюансы.
                                    </div>
                                    <a href="#" class="about__team-card-link">
                                        Читать полностью
                                    </a>
                                    <div class="about__team-card-hidden-content">
                                        <div class="about__team-card-hidden-content-inner">


                                            <div class="about__team-card-hidden-text">
                                                <p>
                                                    Знание рынкаи многолетний опыт в&nbsp;бизнесе:
                                                </p>
                                                <p>
                                                    10-летний опыт работы в&nbsp;качестве Заместителя Директора
                                                    строительной
                                                    компании
                                                </p>
                                                <p>
                                                    Один из проектировщиков Социальной ипотеки в&nbsp;Госжилфонде РТ
                                                </p>
                                                <p>
                                                    с&nbsp;2017 года занимается цифровизацией и&nbsp;собственными
                                                    разработками
                                                    для рынка
                                                    недвижимости
                                                </p>
                                            </div>
                                            <a href="#" class="about__team-card-hidden-close">
                                                Скрыть
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="numbers numbers--green">
            <div class="container">
                <div class="numbers__text">
                    Благодаря нашим технологиям сегодня можно в одном окне подобрать актуальные ипотечные программы и
                    субсидированные ставки, не собирая их по чатам в ватсап или телеграм. А еще можно провести сделку
                    купли-продажи квартиры из любой точки мира — понадобится лишь загранпаспорт.
                </div>
                <ul class="numbers__list">
                    <li class="numbers__list-item">
                        <div class="numbers__card">
                            <h3 class="numbers__card-title">
                                15 000+
                            </h3>
                            <div class="numbers__card-text">
                                транзакций провели через наш сервис
                            </div>
                        </div>
                    </li>
                    <li class="numbers__list-item">
                        <div class="numbers__card">
                            <h3 class="numbers__card-title">
                                В 20 регионах
                            </h3>
                            <div class="numbers__card-text">
                                РФ пользуются нашими продуктами
                            </div>
                        </div>
                    </li>
                    <li class="numbers__list-item">
                        <div class="numbers__card">
                            <h3 class="numbers__card-title">
                                15 лет
                            </h3>
                            <div class="numbers__card-text">
                                опыта в недвижимости
                            </div>
                        </div>
                    </li>
                    <li class="numbers__list-item">
                        <div class="numbers__card">
                            <h3 class="numbers__card-title">
                                90%
                            </h3>
                            <div class="numbers__card-text">
                                застройщиков РТ работают с нами
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="details">

            <div class="details__card details__card--blue">
                <div class="details__card-image-container">
                    <img src="img/house.jpg" alt="" class="details__card-image">
                </div>
                <div class="details__card-content">
                    <h2 class="details__card-title">
                        Подбирайте ипотеку за 15 минут с точностью в 98%
                    </h2>
                    <div class="details__card-bottom-row">
                        <div class="details__card-text">
                            Попробуйте наш сервис по ипотеке — реальные расчеты платежей и актуальные ставки даже по
                            партнерским программам
                        </div>
                        <a href="#" class="details__card-link">
                            <div class="details__card-link-text">
                                Подробнее
                            </div>
                            <div class="details__card-link-icon">

                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <section class="protect" id="protect">
            <div class="container">
                <div class="protect__content">
                    <div class="protect__text-content">
                        <h2 class="protect__heading">
                            Защищаем вас и&nbsp;ваших&nbsp;клиентов
                        </h2>
                        <div class="protect__safe-label">
                            <img src="img/protect-icon.svg" alt="" class="protect__safe-label-icon">
                            <div class="protect__safe-label-text">
                                с нами безопасно
                            </div>

                        </div>
                    </div>
                    <ul class="protect__list">
                        <li class="protect__list-item">
                            <div class="protect__card">
                                <h3 class="protect__card-title">
                                    Крипта-защита
                                </h3>
                                <div class="protect__card-text">
                                    Для обеспечения безопасности участников сделки обмен информацией происходит через
                                    систему
                                    крипто-защиты (VipNet)
                                </div>
                                <img src="img/protect/1.svg" alt="" class="protect__card-icon">
                            </div>
                        </li>
                        <li class="protect__list-item">
                            <div class="protect__card">
                                <h3 class="protect__card-title">
                                    152-ФЗ
                                </h3>
                                <div class="protect__card-text">
                                    Данные клиентов защищены по 152-ФЗ (уровень надежности TIER III Uptime Institute)
                                </div>
                                <img src="img/protect/2.svg" alt="" class="protect__card-icon">
                            </div>
                        </li>
                        <li class="protect__list-item">
                            <div class="protect__card">
                                <h3 class="protect__card-title">
                                    Дата-центр
                                </h3>
                                <div class="protect__card-text">
                                    Решение располагается в Дата-центре «ИТ-Парк» — там же, где электронное
                                    правительство
                                    Республики Татарстан
                                </div>
                                <img src="img/protect/3.svg" alt="" class="protect__card-icon">
                            </div>
                        </li>
                        <li class="protect__list-item">
                            <div class="protect__card">
                                <h3 class="protect__card-title">
                                    Двойная аутентификация
                                </h3>
                                <div class="protect__card-text">
                                    Рабочие места защищены двойной аутентификацией пользователя,а именно: закрытая VPN
                                    сеть,
                                    доступв личный кабинет по логину и паролю
                                </div>
                                <img src="img/protect/4.svg" alt="" class="protect__card-icon">
                            </div>
                        </li>
                        <li class="protect__list-item">
                            <div class="protect__card">
                                <h3 class="protect__card-title">
                                    Сертификат ФСБ
                                </h3>
                                <div class="protect__card-text">
                                    Используемые технологии сертифицированы ФСБ России
                                </div>
                                <img src="img/protect/5.svg" alt="" class="protect__card-icon">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="demo demo--green">
            <div class="container">
                <div class="demo__content">
                    <div class="demo__left-col">
                        <h2 class="demo__heading">
                            Познакомьтесь<br> с сервисом за 1 час
                        </h2>
                        <div class="demo__text">
                            Простой и быстрый способ познакомиться — прийти на экскурсию. Оставьте контакты и мы покажем
                            наш
                            калькулятор в деле
                        </div>
                        <form action="/" method="POST" class="demo__form" data-need-validation="">
                            <div class="demo__form-fields">
                                <div class="demo__form-field">
                                    <input type="text" name="name" class="demo__form-input" required=""
                                        placeholder="Имя" required="">
                                </div>
                                <div class="demo__form-field">
                                    <input type="tel" name="phone" class="demo__form-input js-phone-input" required=""
                                        placeholder="Телефон" required="">
                                </div>
                                <div class="demo__form-field">
                                    <input type="text" name="company" class="demo__form-input" required=""
                                        placeholder="Компания" required="">
                                </div>
                                <div class="demo__form-field">
                                    <textarea name="comment" class="demo__form-input"
                                        placeholder="Комментарий"></textarea>
                                </div>
                            </div>
                            <div class="demo__form-controls">
                                <button class="demo__form-submit" type="submit">
                                    Хочу демо-доступ
                                </button>
                                <div class="demo__form-policy">
                                    Нажимая на кнопку, я соглашаюсь с <a href="#">политикой&nbsp;конфиденциальности</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="demo__right-col">
                        <div class="demo__image-wrapper">
                            <img src="img/demo.jpg" alt="" class="demo__image">
                            <div class="demo__image-cursor">
                                <div class="demo__image-cursor-outer-wrapper" id="hand-wrapper">


                                    <img src="img/cursor.svg" alt="" class="demo__image-cursor-image" id="hand">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {{/content}}
{{/extend}}